{{ define "menuButton" }}
  <div id="menu-button">
    <div id="menu-top" class="menu-top-bar menu-bar-flat"></div>
    <div id="menu-middle" class="menu-middle-bar"></div>
    <div id="menu-bottom" class="menu-bottom-bar menu-bar-flat"></div>
  </div>
{{ end }}
