{{ define "navMenu" }}
  <div class="nav-menu-closed mdl-shadow--2dp" id="nav-menu">
    {{ range $page := .Pages }}
      <p>
        <a href="/post/{{ $page.File }}">
          {{ $page.Title }}
        </a>
      </p>
    {{ end }}
  </div>
{{ end }}
