<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>jnsq: {{ .Title }}</title>

    <link rel="stylesheet" href="../public/styles/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/styles/base.css">
  </head>
  <body>
    <div class="header-original mdl-shadow--2dp" id="header">
      {{ template "menuButton" . }}
      <h1><a href="/">jnsq</a></h1>
    </div>
    {{ template "navMenu" . }}
    <div id="main">
      {{ template "content" . }}
    </div>
    <script type="text/javascript" src="../public/scripts/material.min.js"></script>
    <script type="text/javascript" src="../public/scripts/base.js"></script>
  </body>
</html>
