body, html {
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 16px;
}

h1, h2 {
  margin-bottom: 16px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3, h4 {
  margin-bottom: 12px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5, h6 {
  margin-bottom: 8px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p, ul {
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-bottom: 8px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* views/partials/content.gohtml */
.code {
  font-family: Courier;
}

.code-block {
  background-color: #EEEEEE;
  margin-bottom: 18px;
  padding: 8px 12px 0px 12px;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow-y: visible;
  padding: 8px 24px 8px 24px;
  width: 100%;
}

.grey {
  color: #9E9E9E;
}

.indigo {
  color: #3F51B5;
}

.red {
  color: #F44336;
}

.teal {
  color: #009688;
}
/* end */

/* views/index.gohtml */
#header {
  align-items: center;
  background-color: #FFFFFF;
  /*border-bottom: 1px solid black;*/
  display: flex;
  justify-content: flex-start;
  padding-left: 17px;
  position: fixed;
  width: 100%;
}

.header-original {
  left: 0px;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
}

.header-shifted {
  left: 247px;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;
}

#main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 100%;
}
/* end */

/* views/partials/menuButton.gohtml */
#menu-button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 17px;
  backface-visibility:  hidden;
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color: transparent;
}

.menu-top-bar {
  background-color: black;
  height: 16.667%;
  position: relative;
  top: 16.667%;
  width: 100%;
}

.menu-top-tilt {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transform: rotate(45deg) scaleX(1.120);
  transform-origin: 8.333% 50%;
  -webkit-transform: rotate(45deg) scaleX(1.120);
  -webkit-transform-origin: 8.333% 50%;
}

.menu-middle-bar {
  background-color: black;
  height: 16.667%;
  opacity: 1;
  position: relative;
  top: 33.333%;
  width: 100%;
  transition: opacity 0.5s, width 0.5s;
  -webkit-transition: opacity 0.5s, width 0.5s;
}

.menu-middle-fade {
  background-color: black;
  height: 16.667%;
  opacity: 0;
  position: relative;
  top: 33.333%;
  width: 0%;
  transition: opacity 0.5s, width 0.5s;
  -webkit-transition: opacity 0.5s, width 0.5s;
}

.menu-bottom-bar {
  background-color: black;
  height: 16.667%;
  position: relative;
  top: 50%;
  width: 100%;
}

.menu-bar-flat {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transform: rotate(0deg) scaleX(1);
  transform-origin: 8.333% 50%;
  -webkit-transform: rotate(0deg) scaleX(1);
  -webkit-transform-origin: 8.333% 50%;
}

.menu-bottom-tilt {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transform: rotate(-45deg) scaleX(1.120);
  transform-origin: 8.333% 50%;
  -webkit-transform: rotate(-45deg) scaleX(1.120);
  -webkit-transform-origin: 8.333% 50%;
}
/* end */

/* views/partials/navMenu.gohtml */
#nav-menu {
  background-color: rgba(255, 255, 255, 0.9);
  /*border-right: 1px solid black;
  border-top: 1px solid black;*/
  height: 100%;
  top: 0px;
  padding: 16px;
  position: fixed;
  width: 215px;
}

.nav-menu-closed {
  left: -215px;
  opacity: 0;
  transition: left 0.5s, opacity 0.5s;
  -webkit-transition: left 0.5s, opacity 0.5s;
}

.nav-menu-open {
  left: 0px;
  opacity: 1;
  transition: left 0.5s, opacity 0.5s;
  -webkit-transition: left 0.5s, opacity 0.5s;
}
/* end */
