body, html {
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 16px;
}

h1, h2 {
  margin-bottom: 16px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3, h4 {
  margin-bottom: 12px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5, h6 {
  margin-bottom: 8px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  margin-bottom: 8px;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 100px;
  max-width: 500px;
  overflow-y: visible;
  padding: 8px 24px 8px 24px;
  width: 100%;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
}
